apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  selector:
    app: notification-service
  ports:
  - port: 3010
    targetPort: 3010
    protocol: TCP
  type: ClusterIP
